{% extends "pizza/base.html" %}


{% block content%}
<p>Pizza: {{ pizza.name }}</p>

<!-- Image stuff -->
{% if pizza.header_image %}
<img src="{{ pizza.header_image.url }}" class="img-thumbnail" style="max-height: height 300px" alt="">
{% endif %}

<p>
    Toppings:
</p>

<ul>
    {% for topping in toppings %}

    <li>

        <p>{{ topping.name|linebreaks }}</p>

        <!---
        <p>
            <a href="{% url 'pizza:edit_topping' topping.id %}">Edit topping</a>
        </p>
         -->

    </li>
    {% empty %}
    <li>No toppings for this pizza have been added yet.</li>
    {% endfor %}

</ul>

<!--
<p>
    <a href="{% url 'pizza:new_topping' pizza.id %}">Add a new topping</a>
</p>
-->

<p>
    Comments:
</p>

<ul>
    {% for comment in comments %}

    <li>

        <p> {{ comment.name|linebreaks }}</p>

    </li>
    {% empty %}

    <li>No comments for this pizza have been added yet.</li>

    {% endfor %}

    </li>

</ul>

<p>
    <a href="{% url 'pizza:new_comment' pizza.id %}">Add a new comment</a>
</p>

{% endblock content %}